body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-size: cover;
  align-items: center;
}
canvas {
  position: static;
  top: 200;
  left: 100;
  width: 100vw;
  height: 80vh;
}
.grid {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  animation: gridAni 3s;
  overflow: hidden;
}

@keyframes gridAni {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.button-wrapper2 {
  display: inline-flex;
  height: 75px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  background: rgba(66, 66, 66, 0.8);
}
.button {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin-left: 0px;
  margin-right: 20px;
  word-spacing: normal;
  letter-spacing: 5px;
  border: 1px solid white;
  background: black;
  cursor: pointer;
  color: white;
}

.button2 {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-align: center;
  align-items: center;
  position: relative;
  font-weight: 550;
  margin-left: 10px;
  margin-right: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
  width: 120px;
  height: 60px;
}

.inibutt {
  /* height: 110px; */
  /* background-color: lightcoral; */
}

.startend {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin-left: 0px;
  /* margin-right: 20px; */
  word-spacing: normal;
  letter-spacing: 5px;
  border: 1px solid white;
  background: black;
  cursor: pointer;
  color: white;
  float: right;
}

.startend2 {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin-left: 0px;
  /* margin-right: 20px; */
  word-spacing: normal;
  letter-spacing: 5px;
  border: 1px solid white;
  background: black;
  cursor: pointer;
  color: white;
  float: right;
}

.startend2:hover {
  background-color: red;
}

.pathwall {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin-left: 0px;
  /* margin-right: 20px; */
  word-spacing: normal;
  letter-spacing: 5px;
  border: 1px solid white;
  background-color: #0b3b47;
  cursor: pointer;
  color: white;
}

.pauseresume:after {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin-left: 0px;
  /* margin-right: 20px; */
  word-spacing: normal;
  letter-spacing: 5px;
  border: 1px solid white;
  background: black;
  cursor: pointer;
  color: white;
  float: right;
  content: "Pause";
}

.pauseresume:focus:after {
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.75);
}

.startendwrap {
  display: flex;
  margin-right: 30px;
  background-color: lightgreen;
  float: right;
}

.iniwrap {
  display: flex;
  margin-left: 10px;
  margin-top: 10px;
  width: 100px;
  background-color: olivedrab;
}

.pathwall:hover {
  background-color: #056d87;
}

.wallbutt {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px;
  margin-left: 0px;
  margin-right: 20px;
  word-spacing: normal;
  letter-spacing: 5px;
  border: 1px solid white;
  background: black;
  cursor: pointer;
  color: white;
}

.walls {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 550;
  width: 220px;
  height: 60px;
  background-color: #540400;
  /* margin-left: 10px; */
  text-align: center;
  color: #ffffff;
  border: 2px solid #444;
  border-radius: 4px;
}

.wallweight input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.wallweight label {
  display: inline-block;
  width: 70px;
  background-color: #0b3b47;
  text-align: center;
  font-family: "Raleway", sans-serif;
  word-spacing: normal;
  letter-spacing: 2px;
  margin-top: 1px;
  padding: 3px;
  margin-right: 4px;
  margin-left: 4px;
  font-size: 13px;
  border: 2px solid #444444;
  border-radius: 4px;
}

.wallweight label:hover {
  background-color: #056d87;
}

.wallweight input[type="radio"]:focus + label {
  border: 2px dashed #52adc4;
  background-color: #056d87;
}

.wallweight input[type="radio"]:checked + label {
  background-color: #056d87;
  border-color: #52adc4;
}

.radiowrapper {
  font-family: "Raleway", sans-serif;
  font-size: 15px;
  font-weight: 550;
  /* position: absolute; */
  margin-right: 30px;
  background-color: #540400;
  padding: 10px;
  text-align: center;
  align-items: center;
  color: #ffffff;
  border: 2px solid #444;
  border-radius: 4px;
  float: right;
}

.radiobutton input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radiobutton label {
  display: inline-block;
  width: 100px;
  /* height: 50px; */
  background-color: #0b3b47;
  text-align: center;
  align-content: center;
  font-family: "Raleway", sans-serif;
  word-spacing: normal;
  letter-spacing: 2px;
  padding: 10px;
  margin: 10px;
  font-size: 13px;
  border: 2px solid #444444;
}

.radiobutton label:hover {
  background-color: #056d87;
}

.radiobutton input[type="radio"]:focus + label {
  border: 2px dashed #52adc4;
  background-color: #056d87;
}

.radiobutton input[type="radio"]:checked + label {
  background-color: #056d87;
  border-color: #52adc4;
}

.gridradio {
  position: relative;
}

/* The container */
.container {
  display: block;
  position: relative;
  /* padding-left: 35px; */
  margin: 20px;
  /* margin-bottom: 12px; */
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: pink;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196f3;
}

.container input:checked ~ .abc {
  background-color: #2196f3;
  visibility: visible;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

* {
  user-select: none;
}

#info {
  color: #2d3667;
  font-size: 16px;
  text-align: center;
  padding: 14px;
  background-color: #f3f9f9;
}

#app-cover {
  width: 120px;
  height: 60px;
  margin-left: 10px;
  margin-right: 10px;
}

#select-button {
  height: 16px;
  padding: 12px 14px;
  border-radius: 4px;
  cursor: pointer;
}

#options-view-button {
  position: absolute;
  width: 120px;
  height: 60px;
  margin: 0;
  opacity: 0;
  cursor: pointer;
  z-index: 3;
}

#selected-value {
  font-size: 16px;
  margin-right: 26px;
}

.options {
  /* position: absolute;
    left: 0; */
}

#options {
  position: absolute;
  opacity: 0;
  width: 120px;
  margin: 0 auto;
  text-align: center;
  background: rgba(38, 38, 38, 0.9);
}

#options-view-button:hover ~ #options {
  opacity: 1;
}

#options-view-button:checked ~ #options {
  opacity: 1;
}

.option {
  position: relative;
  height: 40px;
  text-align: center;
  line-height: 1;
  transition: 0.3s ease all;
  z-index: 2;
}

.option i {
  position: absolute;
  padding: 0;
  display: none;
  opacity: 0;
}

#options-view-button:hover ~ #options .option i {
  padding: 12px 0;
  opacity: 1;
}

.label {
  display: block;
  text-align: center;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  color: white;
  transition: 0.3s ease all;
  opacity: 0;
}

#options-view-button:hover ~ #options .label {
  /* display: block; */
  opacity: 1;
  padding: 12px 0px;
}

#options-view-button:checked ~ #options .label {
  /* display: block; */
  opacity: 1;
  padding: 12px 0px;
}

#options-view-button:checked ~ #selected-value {
  background-color: #0057ff;
}

input[type="radio"] {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.s-c.top:hover ~ i {
  top: -25px;
  animation: movedown 0.3s ease 0.1s forwards;
}

@keyframes moveup {
  0% {
    bottom: -25px;
    opacity: 0;
  }
  100% {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes movedown {
  0% {
    top: -25px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

.option input[type="radio"]:checked ~ i {
  top: 0;
  bottom: auto;
  opacity: 1;
  animation: unset;
}

.option input[type="radio"]:checked ~ .label:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.option:nth-child(1) input[type="radio"]:focus ~ .label:before {
  background-color: #0055cc;
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.75);
  transform: scale(1.05);
}

.option:nth-child(2) input[type="radio"]:focus ~ .label:before {
  background-color: #0055cc;
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.75);
  transform: scale(1.05);
}

.option:nth-child(3) input[type="radio"]:focus ~ .label:before {
  background-color: #0055cc;
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.75);
  transform: scale(1.05);
}

.option:nth-child(4) input[type="radio"]:focus ~ .label:before {
  background-color: #0055cc;
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.75);
  transform: scale(1.05);
}

.option:nth-child(5) input[type="radio"]:focus ~ .label:before {
  background-color: #0055cc;
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.75);
  transform: scale(1.05);
}

.option:nth-child(6) input[type="radio"]:focus ~ .label:before {
  background-color: #0055cc;
  box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.75);
  transform: scale(1.05);
}

#option-bg {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 40px;
  transition: 0.3s ease all;
  z-index: 1;
  display: none;
}

#options-view-button:checked ~ #options #option-bg {
  display: block;
}

.option:hover .label {
  color: #fff;
}

.option:nth-child(1):hover ~ #option-bg {
  top: 0;
  background-color: darkblue;
}

.option:nth-child(2):hover ~ #option-bg {
  top: 40px;
  background-color: darkblue;
}

.option:nth-child(3):hover ~ #option-bg {
  top: 80px;
  background-color: darkblue;
}

.option:nth-child(4):hover ~ #option-bg {
  top: 120px;
  background-color: darkblue;
}

.mybutton {
  display: flex;
  width: 120px;
  background: black;
  height: 60px;
  border: 1px solid white;
  text-align: center;
  align-items: center;
  color: white;
}

.mybutton a {
  width: 100px;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 10px;
  text-align: center;
  word-spacing: normal;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
}

#options-view-button:hover ~ .mybutton {
  background-color: #00005c;
}

#options-view-button:checked ~ .mybutton {
  background-color: #00008b;
}

.loading {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: #171717;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-bar-container {
  width: 200px;
  height: 3px;
  background: #272727;
}

.loading-bar {
  height: 3px;
  background: white;
}
